*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100vh;

background:
linear-gradient(
    180deg,
    #0f1712,
    #18231b
);

color:white;

font-family:Arial,sans-serif;

overflow:hidden;

position:relative;

}

/* STAR CONTAINER */

#stars{
position:fixed;
inset:0;

pointer-events:none;

}

/* TWINKLING STARS */

.star{

position:absolute;

background:white;

border-radius:50%;

opacity:.4;

animation:twinkle infinite ease-in-out;

}

@keyframes twinkle{

0%{
    opacity:.2;
}

50%{
    opacity:1;
}

100%{
    opacity:.2;
}

}

/* FALLING STARS */

.falling-star{

position:fixed;

width:2px;
height:12px;

background:white;

border-radius:50%;

opacity:.8;

pointer-events:none;

animation:fall linear forwards;

}

@keyframes fall{

from{

    transform:
    translateY(-50px);

    opacity:0;
}

10%{
    opacity:1;
}

to{

    transform:
    translateY(110vh);

    opacity:0;
}

}
